.caixa-cabecalho {
background: url("../img/first-img.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
background-color: rgb(199, 162, 204);
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
opacity: 80%;

}

.caixa-cabecalho h1 {

    background-color:rgba(48, 42, 42, 0.8);
    background-blend-mode: color;
    color: white;
    width: 50%;
    margin-left: 25%;
    padding: 2% 0 2% 3.5%;
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 3rem;
    
}

.caixas-section {

    background: linear-gradient(to bottom, white 60%, rgb(89, 63, 104));
    height: 40%;
    padding: 4%;
    text-align: center;


}

.titulos-section {

    font-family: 'Noto Serif JP', serif;
    margin-bottom: 3%;
    font-weight: bolder;
    color: black;
    font-size: 1.5rem;
}

.paragrafos-section {

    text-align: justify;
    color: black;
    line-height: 125%;
    font-size: 1rem;

}

.cabecalho-caixa2 {
    background: url("../img/second-img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(199, 162, 204);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 80%;
    
    }

    .cabecalho-caixa2 h2 {

        background-color:rgba(48, 42, 42, 0.8);
        background-blend-mode: color;
        color: white;
        width: 50%;
        margin-left: 25%;
        padding: 2% 0 2% 3.5%;
        font-family: 'Maven Pro', sans-serif;
        font-size: 1rem;
        letter-spacing: 2rem;
    }

    .cabecalho-caixa3 {
        background: url("../img/third-img.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color: rgb(199, 162, 204);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 80%;
        
        }

        .cabecalho-caixa3 h2 {

            background-color:rgba(48, 42, 42, 0.8);
            background-blend-mode: color;
            color: white;
            width: 50%;
            margin-left: 25%;
            padding: 2% 0 2% 3.5%;
            font-family: 'Maven Pro', sans-serif;
            font-size: 1rem;
            letter-spacing: 2rem;
        }

        .finalpage {


            background: url("../img/first-img.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-color: rgb(199, 162, 204);
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            opacity: 80%;

        }

        .finalpage span {

            background-color:rgba(48, 42, 42, 0.8);
            background-blend-mode: color;
            color: white;
            width: 50%;
            margin-left: 25%;
            padding: 2% 0 2% 3.5%;
            font-family: 'Maven Pro', sans-serif;
            font-size: 2.5rem;
            letter-spacing: 3rem;
        }

        .finalpage p {
            margin-top: 1%;
            color: white;
        }

        .finalpage a {

            color: white;
            font-weight: bolder;
        }
        